@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #eee;
}

.content {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.info {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.info>span, .info>span>a {
    width: max-content;
    color: black;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 11px;
}

.info>span:nth-child(2) {
    margin-left: -1px;
}

.info>span:first-child>a {
    text-decoration: none;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f9f9f9;
}

.jagged {
    box-shadow: 0 0 10px 0 black;
    margin-bottom: 4px;
}

.jagged:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6px;
    background-image:
        linear-gradient(to top right, transparent 50%, #f9f9f9 50%),
        linear-gradient(to top left, transparent 50%, #f9f9f9 50%);
    background-position: 6px bottom, 6px bottom;  /*  начинаем не с обрезанного угла  */
    background-size: 6px 6px, 6px 6px;
}

header>.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
}

.header-left > .info {
    margin-bottom: 56px;
}

.header-title {
    width: max-content;
    margin-left: -4px;
    margin-bottom: 19px;
}

.header-title>span {
    font-weight: 300;
    font-size: 48px;
}

.header-logo {
    margin-top: 23px;
    margin-right: -3px;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d4d4d4;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}

.message-top {
    width: 174px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message-author {
    flex: 1;
}

.message-author>span {
    font-weight: 700;
    font-size: 16px;
}

.message-time {
    margin-right: 10px;
    flex: 0;
}

.message-date {
    flex: 0;
}


.message-time>span, .message-date>span {
    font-weight: 300;
    font-size: 10.62px;
}

.message-content p {
    font-weight: 300;
    font-size: 14px;
}

#commend {
    padding-top: 20px;
    width: 460px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
}

#commend > h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 18px;
}

#send-commend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#send-commend > label {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 11px;
}

#commend-name {
    font-weight: 300;
    font-size: 14px;
    border: none;
    background: white;
    padding: 13px 20px;
    border-radius: 3px;
    margin-bottom: 17px;
}

#commend-message {
    resize: none;
    width: 100%;
    height: 134px;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid black;
    background: transparent;
    border-radius: 3px;
    padding: 7px 10px;
    margin-bottom: 10px;
}

#send-commend > button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 134px;
    height: 44px;

    font-weight: 300;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 136px;
    background: #f9f9f9;
}

footer > .content {
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 101px;
    display: flex;
    padding-top: 17px;
    padding-bottom: 11px;
    height: 100% !important;
    margin-right: 37px;
}

.footer-logo img {
    width: auto;
    height: 108px;
}

footer .info {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

footer .info > span {
    margin-bottom: 6px;
}

footer .info > .copyright {
    font-weight: 400;
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 0;
}